* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    color: white;
    background-color: black;
    background-image: url(https://img.redbull.com/images/c_limit,w_1500,h_1000,f_auto,q_auto/redbullcom/2020/4/8/hthjdf72mtthkltjvuoj/final-fantasy-7-tips); 
    font-size: 1rem;
    
    
}

.createBox{
    width: 380px;
    margin: auto;
    padding: 20px;
    margin-top: 5px;
}

.createBox textarea {
    width: 100%;
    border-radius: 5px;
}

.createBox button {
    width: fit-content;
}

.flashcards {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    margin-top: 10px;
    padding: 0 10px;
}

.flashcard {
     width: 370px;
    height: 200px;
    word-wrap: break-word;
    margin: 10px;
    /* background-color: white; */
    box-shadow: 0 2px 4px 0 rgba(rgb(12, 12, 12)); 
    border: solid 1px #424542;
    box-shadow: 1px 1px #e7dfe7,
                -1px -1px #e7dfe7,
                1px -1px #e7dfe7,
                -1px 1px #e7dfe7,
                0 -2px #9c9a9c,
                -2px 0 #7b757b,
                0 2px #424542;
    width: 360px;
    padding: 5px 10px;
    text-align: center;
    margin: auto; 
    
    background: #04009d;
    background: -moz-linear-gradient(top,  #04009d 0%, #06004d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#04009d), color-stop(100%,#06004d));
    background: -webkit-linear-gradient(top,  #04009d 0%,#06004d 100%);
    background: -o-linear-gradient(top,  #04009d 0%,#06004d 100%);
    background: -ms-linear-gradient(top,  #04009d 0%,#06004d 100%);
    background: linear-gradient(to bottom,  #04009d 0%,#06004d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04009d', endColorstr='#06004d',GradientType=0 );
}

.flashcard h2 {
    font-size: 1rem;
}

@media(max-width: 768px){
    .flashcard{
        margin: auto;
    }

    .flashcard{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media(max-width: 480px){
    .nav{
        flex-direction: column;
        align-items: center;
    }
    .creatBox{
        width: 100%;
    }

    .flashcard{
        width: 100%;
    }
}

button{
    padding: 8px;
    outline: none;
    cursor: pointer;
    border: 1px solid lightgrey;
    border-radius: 5px;
    background-color: white;
}

button:hover{
    background-color: blue
}

.container {
    width: 95%;
    margin: auto;
}


.nav {
    border: solid 1px #424542;
    box-shadow: 1px 1px #e7dfe7,
                -1px -1px #e7dfe7,
                1px -1px #e7dfe7,
                -1px 1px #e7dfe7,
                0 -2px #9c9a9c,
                -2px 0 #7b757b,
                0 2px #424542;
    width: 360px;
    padding: 5px 10px;
    text-align: center;
    margin: auto; 
    
    background: #04009d;
    background: -moz-linear-gradient(top,  #04009d 0%, #06004d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#04009d), color-stop(100%,#06004d));
    background: -webkit-linear-gradient(top,  #04009d 0%,#06004d 100%);
    background: -o-linear-gradient(top,  #04009d 0%,#06004d 100%);
    background: -ms-linear-gradient(top,  #04009d 0%,#06004d 100%);
    background: linear-gradient(to bottom,  #04009d 0%,#06004d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04009d', endColorstr='#06004d',GradientType=0 );
  
  
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
  }
 
  .container2 {
      width: 800px;
      margin: 30px auto;
      color: aliceblue;
      text-align: center;
  }

  h1,h2,h3 {
      font-weight: 100;
      font-size: 2.6rem;
      text-transform: capitalize;
  }

  #seconds,#tens {
      font-size: 2em;
  }

  #score { 
      text-align: center;
  }

  #number {
      font-size: 2em;
  }